 /*font-family: 'Montserrat', sans-serif;*/
   /*font-family: 'Raleway', sans-serif;*/

h1 {
  text-align: center;
  letter-spacing: 15px;
  font-size: 50px;
  margin-top: 5%;
  /*font-family: 'Montserrat', sans-serif;*/
}

h2 {
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
  margin: 20% 10% 5% 10%;
}

.form {
  margin: 5% 10% 5% 10%;
}

label {
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 4px;
}

.second-label {
  margin-top: 30px;
}

#indexSubmit {
  margin: 10% 42% 5% 42%;

}

.form-control {
  padding: 4%;
  font-size: 16px;
}
